* {
	/*css-reset remove the default margins and 
	paddings set by the browser*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

#box1 {
	background-color: red;
	margin-top: 10px;
	margin-right: 20px;
	margin-left: 30px;
	margin-bottom: 40px;
	/*border: 2px solid black;*/
	border-top: 2px solid black;
	border-left: 5px solid green;
	border-right: 10px solid orange;
	border-bottom: 2px solid blue;
	/*padding: 10px;*/
	padding-top: 5px;
	padding-left: 3px;
	padding-right: 30px;
	padding-bottom: 30px;
	/*height: 100px;
	width: 100px;*/
}

#box2 {
	background-color: orange;
	border: 2px solid black;
	height: 100px;
	width: 100px;
}

#box3 {
	background-color: green;
	border: 2px solid black;
	width: 100px;
}

#span1 {
	background-color: purple;
	border: 2px solid black;
	
	display: inline-block;
	height: 100px;
	width: 100px;
	/*margin: 20px;*/
	/*padding: 30px*/;
	padding-left: 30px;
	padding-right: 30px;
	vertical-align: top;
	
}

#span2 {
	display: inline-block;
	vertical-align: top;
	height: 100px;
	width: 100px;
	background-color: yellow;
	border: 2px solid black;
}

#box4 {
	display: inline-block;
	vertical-align: top;
	height: 100px;
	width: 100px;
	background-color: pink;
	border: 2px solid black;
}