* {
	margin: 0;
	padding: 0;
	font-family: "Smooch Sans", sans-serif;
	box-sizing: border-box;
	font-size: 30px;
}



nav	{
	padding: 0.5rem;
	background-color: black;
	color: white;

}

#logo {
	color: yellow;
}

nav .nav, nav #logo {
	margin: 0.5rem;
	display: inline;
	font-size: .8rem;

}

#introduction {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
	background-color: pink;
}

.header {
	font-size: 2rem;
}

#get-now {
	margin: 2rem;
	border-radius: 25px;
	padding: .5rem;
	background-color: #89023e;
	color: white;
}

#card-packs > ul * {
	display: inline-block;
	height: 450px;
	width: 309px;
	vertical-align: top;
}

#card-packs {
	text-align: center;
	background-color: #ffd9da;

}